<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjetJEE</display-name>
  
  <!-- Hello World -->
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>org.testProject.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  
  <!-- Authentification -->
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>org.testProject.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
	<!-- <url-pattern>/</url-pattern> -->
  </servlet-mapping>
  
    
  <!-- User -->
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>org.testProject.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>